<table>
    <thead>
    <tr>
        <th class="col-md-3 valign-middle">Schedule</th>
    </tr>
    </thead>
    <tbody>
    {{#each model as |schedule| }}
        <td>{{schedule.id}}</td>
    {{/each}}
    </tbody>
</table>